# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo\

# IDE files
.vscode/
.DS_Store

# Any input and/or output files
input.csv
output.csv
inputFiles/
outputFiles/